<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/home-page.css'>
    <link rel="stylesheet" href='/stylesheets/bootstrap.css'>
    <link rel="stylesheet" href="/stylesheets/pricing.css">
    <script src='/javascripts/jquery-3.5.1.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>  
    <script src='/javascripts/home-page.js'></script>  
    <script src='/javascripts/header.js'></script>
  </head>

  <body>
    {{!-- header --}}
    {{> page/header title=this.title username=this.username avatar=this.avatar}}

    {{!-- content --}}
    {{{body}}}

    {{!-- footer --}}
    {{> page/footer}}
  </body>

</html>