<div class="heading">
    <div class="container">
        <div class="row">
            <div class="item1">
                <p>Starting project with Sprint D Retrospectives 💪</p>
                <div class="description">Collaborate with your remote team and get better in what you do with a simple,
                    intuitive and beautiful tool</div>
                <a class="btn btn-primary" href="/pricing" role="button">Get Started For Free</a>
            </div>
            <div class="item2">
                <img src="../../images/started.png" alt="" />
            </div>
        </div>
    </div>
</div>

<div class="introduction">
    <p class="question">What Is A D-Retrospective? 🧐</p>
    <div class="container">
        <div class="row">
            <div class="item1">
                <img src="../../images/board.png" alt="" />
            </div>
            <div class="item2">
                <p>D is the first letter in the names of the members of the DTeam</p>
                <p>A retrospective is an opportunity to learn and improve, in a fun environment. To break it down in the
                    simplest way you should cover:</p>
                <ul>
                    <li>What worked well?</li>
                    <li>What didn't work well?</li>
                    <li>What actionable items can we do to improve the situation?</li>
                </ul>
                <p>These are generally quick sessions that are not only informative and contribute to the teams
                    functionality and efficiency, but also do something most ‘Retrospectives’ forget to do: Engage the
                    team.</p>
                <p>Our EasyRetro tool ensures you maintain high team morale by making these team collaboration
                    opportunities effortless and fun.</p>
            </div>
        </div>
    </div>
</div>

<div class="feedback">
    <p class="question">What People Say About Us? 💭</p>
    <div class="container">
        <div class="row">
            <div class="btn-direct">
                <img src="/images/back.png" width="23px" height="23px" alt="">
            </div>
            <div class="quote">
                <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i>
                    </div>
                    <p class="mb-0 mt-2 font-italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <a href="#"
                            class="text-info">@consequat</a>."</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                        Someone famous in
                        <cite title="Source Title">Source Title</cite>
                        <div class="users-feedback">
                            <img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.0-9/120501942_1475237465993231_7931111292691807166_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_ohc=eVn9GitBJpUAX9YDjYj&_nc_ht=scontent.fsgn5-6.fna&oh=c6201b378cebbd0a7544671f0ad414dd&oe=5FD75F5B"
                                alt="">
                        </div>
                    </footer>
                </blockquote><!-- END -->
            </div>
            <div class="quote">
                <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i>
                    </div>
                    <p class="mb-0 mt-2 font-italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <a href="#"
                            class="text-info">@consequat</a>."</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                        Someone famous in
                        <cite title="Source Title">Source Title</cite>
                        <div class="users-feedback">
                            <img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.0-9/120501942_1475237465993231_7931111292691807166_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_ohc=eVn9GitBJpUAX9YDjYj&_nc_ht=scontent.fsgn5-6.fna&oh=c6201b378cebbd0a7544671f0ad414dd&oe=5FD75F5B"
                                alt="">
                        </div>
                    </footer>
                </blockquote><!-- END -->
            </div>
            <div class="quote">
                <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i>
                    </div>
                    <p class="mb-0 mt-2 font-italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <a href="#"
                            class="text-info">@consequat</a>."</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                        Someone famous in
                        <cite title="Source Title">Source Title</cite>
                        <div class="users-feedback">
                            <img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.0-9/120501942_1475237465993231_7931111292691807166_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_ohc=eVn9GitBJpUAX9YDjYj&_nc_ht=scontent.fsgn5-6.fna&oh=c6201b378cebbd0a7544671f0ad414dd&oe=5FD75F5B"
                                alt="">
                        </div>
                    </footer>
                </blockquote><!-- END -->
            </div>
            <div class="btn-direct">
                <img src="/images/next.png" width="23px" height="23px" alt="">
            </div>
        </div>
    </div>
</div>

{{!-- <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="quote">
                    <!-- CUSTOM BLOCKQUOTE -->
                    <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                        <div class="blockquote-custom-icon bg-info shadow-sm"><i
                                class="fa fa-quote-left text-white"></i>
                        </div>
                        <p class="mb-0 mt-2 font-italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <a href="#"
                                class="text-info">@consequat</a>."</p>
                        <footer class="blockquote-footer pt-4 mt-4 border-top">
                            Someone famous in
                            <cite title="Source Title">Source Title</cite>
                            <div class="users-feedback">
                                <img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.0-9/120501942_1475237465993231_7931111292691807166_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_ohc=eVn9GitBJpUAX9YDjYj&_nc_ht=scontent.fsgn5-6.fna&oh=c6201b378cebbd0a7544671f0ad414dd&oe=5FD75F5B"
                                    alt="">
                            </div>
                        </footer>
                    </blockquote><!-- END -->
                </div>
            </div>
            <div class="carousel-item">
                <div class="quote">
                    <!-- CUSTOM BLOCKQUOTE -->
                    <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                        <div class="blockquote-custom-icon bg-info shadow-sm"><i
                                class="fa fa-quote-left text-white"></i>
                        </div>
                        <p class="mb-0 mt-2 font-italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <a href="#"
                                class="text-info">@consequat</a>."</p>
                        <footer class="blockquote-footer pt-4 mt-4 border-top">
                            Someone famous in
                            <cite title="Source Title">Source Title</cite>
                            <div class="users-feedback">
                                <img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.0-9/120501942_1475237465993231_7931111292691807166_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_ohc=eVn9GitBJpUAX9YDjYj&_nc_ht=scontent.fsgn5-6.fna&oh=c6201b378cebbd0a7544671f0ad414dd&oe=5FD75F5B"
                                    alt="">
                            </div>
                        </footer>
                    </blockquote><!-- END -->
                </div>
            </div>
            <div class="carousel-item">
                <div class="quote">
                    <!-- CUSTOM BLOCKQUOTE -->
                    <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                        <div class="blockquote-custom-icon bg-info shadow-sm"><i
                                class="fa fa-quote-left text-white"></i>
                        </div>
                        <p class="mb-0 mt-2 font-italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <a href="#"
                                class="text-info">@consequat</a>."</p>
                        <footer class="blockquote-footer pt-4 mt-4 border-top">
                            Someone famous in
                            <cite title="Source Title">Source Title</cite>
                            <div class="users-feedback">
                                <img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.0-9/120501942_1475237465993231_7931111292691807166_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_ohc=eVn9GitBJpUAX9YDjYj&_nc_ht=scontent.fsgn5-6.fna&oh=c6201b378cebbd0a7544671f0ad414dd&oe=5FD75F5B"
                                    alt="">
                            </div>
                        </footer>
                    </blockquote><!-- END -->
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div> --}}