<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/reg-log-for.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src='/javascripts/jquery-3.5.1.js'></script>
    <script src='/javascripts/bootstrap.bundle.js'></script>
    <script src='/javascripts/auth.js'></script>
</head>

<body>
    <class="container">
        <div class="row justify-content-center">
            <div class="logo">
                <a href="/"> <img class="customLogo" src="images/logo-name.png" alt=""/> </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="inputBoxLogin">
                <form action="/login" method="POST" id="loginForm">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div id="{{alert}}" class="offset4 alert alert-primary" role="alert">
                                Login failed. Email or password is incorrect.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <h1> Login </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            {{!-- <input type="text" id="email" placeholder="Your email" data-toggle="tooltip" data-placement="bottom" title="Invalid email syntax ( example: abc@xyz.com )"/> --}}
                            <input type="email" id="email" name="email" placeholder="Your email" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            {{!-- <input type="password" id="password" placeholder="Password" data-toggle="tooltip" data-placement="bottom" title="Please enter your password ( within length limit )"/> --}}
                            <input type="password" id="password" name="password" placeholder="Password" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 offset-7">
                            <a href="/forgot"> Forgot password? </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <button type="submit" class="myButton" name="loginSubmit" id="loginBtn"> Login </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="registerBox">
                            <P> Or <a href="/Register">Register</a> </P>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</body>

</class>

</html>