<section class="price-comparison">
  <div class="price-column">
    <div class="price-header">
      <div class="price">
        <div class="dollar-sign">VND</div>
        0
        <div class="per-month">/mo</div>
      </div>
      <div class="plan-name">Basic</div>
    </div>
    <div class="divider"></div>
    <div class="feature">
      <img src="check-circle.svg">
      3 total public boards
    </div>
    <div class="feature">
      <img src="check-circle.svg">
      3 public boards per month
    </div>
    <button class="cta">Start Now</button>
  </div>
  <div class="price-column popular">
    <div class="most-popular">MOST SELECTED PLAN</div>
    <div class="price-header">
      <div class="price">
        <div class="dollar-sign">VND</div>
        50000
        <div class="per-month">/mo</div>
      </div>
      <div class="plan-name">Premium</div>
    </div>
    <div class="divider"></div>
    <div class="feature">
      <img src="check-circle.svg">
      5 public boards per month
    </div>
    <div class="feature">
      <img src="check-circle.svg">
      5 public boards/month to team members
    </div>
    <div class="feature">
      <img src="check-circle.svg">
      1 team
    </div>
    <div class="feature">
      <img src="check-circle.svg">
      Unlimited team boards
    </div>
    <div class="feature">
      <img src="check-circle.svg">
      Unlimited team members
    </div>
    <button class="popularButton">Start Free Trial</button>
  </div>

</section>