#name{
    width: 350px;
    border: none;
    outline: none;
    border-bottom: solid 1px grey;
}

#name:focus{
    border-bottom: solid 2px orange;
}
.name-group{
    color: grey;
}
.form-group{
    padding-left: 22rem;
    padding-top: .5rem;
}

#newImage{
    
    border-radius: 2px;
}

.change-link{
    color: #B721B7;
}