/* FOOTER */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer img{
  margin: 1rem ;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

/* ----------------- */

/* CONTENT */

/* CONTENT 1 */
.heading{
    margin: 2rem 0;
}

.heading .item1{
    margin: 3rem 0;
    font-family: Helvetica;
    width: 30%;
}

.heading .item2{
    width: 70%;
}

.heading p{
    font-size: 240%;
    font-weight: bolder;
}

.heading .item2 img{
    width: 100%;
}
.heading .description{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
@media (max-width:991px){
    .heading .item1{
        width: 100%;
    }
    .heading .item2{
        width: 100%;
    }
}

/* CONTENT 2 */
.introduction{
    margin: 2rem 0;
    font-family: Helvetica;
}

.introduction .question{
    padding: 1rem 0;
    text-align: center;
    font-size: 240%;
    font-weight: bolder;
}

.introduction .item1 img{
    width: 90%;
}

.introduction .item1{
    width: 50%;
}

.introduction .item2{
    width: 50%;
}

@media (max-width:991px){
    .introduction .item1{
        width: 100%;
        padding-bottom: 1rem;
    }
    .introduction .item2{
        width: 100%;
    }
}

/* CONTENT 3 */
.feedback .quote{
    width: 29%;
    margin: 1rem;
}

.users-feedback img{
    border-radius: 50%;
    width: 30%;   
}

.feedback .question{
    padding: 1rem 0;
    text-align: center;
    font-size: 240%;
    font-weight: bolder;
}

.feedback .btn-direct{
   
    position: relative;
    top:15rem;
}
.btn-direct img:hover{
    filter:opacity(30%);
}

/* ----------------- */

