<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

    <!-- Brand -->
    <a class="navbar-brand" href="/">
        <img src="../../images/logo-name.png" width="150" height="auto" alt="">
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto font-weight-bold text-white">
            <li class="nav-item {{#if_eq title "Home"}} active {{/if_eq}}">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item {{#if_eq title "Pricing"}} active {{/if_eq}}">
                <a class="nav-link" href="/pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        </ul>
    </div>
    {{!-- <!-- Search  -->
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
</nav>